* {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.orange-color {
  color : #FD6E0A;
}

.btn {
  background-color : #FD6E0A; 
  border : none;
  border-radius : 5px;
  color : #FFFFFF;
  cursor : pointer;
  font-size : 20px;
  font-weight : bold;
  padding : 18px 35px;
}

.section-heading {
  margin : 0 auto;
  max-width : 827px;
  text-align : center;
}

.section-heading h2 {
  color : #181818;
  font-size : 35px;
  font-weight : 700;
  margin-bottom : 30px;
}

.section-heading p {
  color : #757575;
  font-size : 18px;
  line-height : 30px;
  margin-bottom : 30px;
}

.text-center {
  text-align : center;
}

/* main style */
header {
  background : 
    url("../images/developer.png"), 
    url("../images/header_bg.png"), 
    #FFF8F3;
  background-position : 24px 38px , bottom right;
  background-repeat : no-repeat;
  padding-top : 50px;
}

.logo h2 {
  font-size : 45px;
  font-weight : 900;
}

nav {
  display : flex;
  align-items : center;
  justify-content : space-between;
  margin : 0 auto;
  width : 71%;
  max-width : 1140px;
}

nav .menu {
  display : flex;
  align-items : center;
  gap : 51px;
  list-style-type : none;
}

nav .menu a {
  color : #474747;
  font-size : 20px;
  text-decoration : none;
}

#banner {
  display : flex;
  align-items : center;
  justify-content : space-between;
  margin : 46px 38px 0 230px;
}

#banner .banner-content {
  max-width : 585px;
}

#banner .banner-content h2 {
  color : #474747;
  font-size : 45px;
  font-weight : 600;
  margin-bottom : 5px;
}

#banner .banner-content h1 {
  color : #181818;
  font-size : 85px;
  font-weight : 700;
  margin-bottom : 20px;
}

#banner .banner-content p {
  color : #757575;
  font-size : 18px;
  line-height : 30px;
  margin-bottom : 30px;
}

#banner .banner-image img {
  max-width : 584px;
  vertical-align : middle;
}

#about,
#skills,
#resume  {
  padding-top : 130px;
}

#about .about-container {
  background-color : #FFF8F3;
  margin : 0 auto;
  padding : 131px 156px;
  text-align : center;
  width : 71%;
  max-width: 1140px;
}

#about .about-container .about-info {
  display : flex;
  justify-content : space-around;
}

.about-info .info-card p {
  color : #757575;
  font-size : 20px;
}

.about-info .info-card h4 {
  color : #474747;
  font-size : 20px;
  font-weight : 700;
}

#skills .skills-container {
  margin : 0 auto;
  width : 71%;
  max-width : 1140px;
}

#skills .skills-container .skill-box {
  display : flex;
  gap : 24px;
}

.skill-box .skill-card {
  border-radius : 5px;
  box-shadow : 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  padding : 30px;
  max-width : 267px;
}

.skill-card img {
  margin-bottom : 30px;
  max-width : 44px;
}

.skill-card h3 {
  color : #181818;
  font-size : 20px;
  font-weight : 700;
  margin-bottom : 20px;
}

.skill-card p {
  color : #757575;
  line-height : 28px;
  max-width : 201px;
}

#resume .resume-container {
  display : flex;
  gap : 24px;
  margin : 113px auto 50px;
  width : 71%;
  max-width : 1140px;
}

.resume-container hr {
  margin : 30px 0;
}

.resume-container .section-title {
  color : #474747;
  font-size : 30px;
  font-weight : 700;
  margin-bottom : 30px;
}

.resume-card {
  margin-right : 47px; 
  max-width : 511px;
}

.resume-card .card-title {
  color : #474747;
  font-size : 25px;
  font-weight : 700;
  margin-bottom : 10px;
}

.resume-card .card-info {
  color : #757575;
  font-size : 20px;
  font-weight : 600;
  margin-bottom : 20px;
}

.resume-card .card-text {
  color : #757575;
  font-size : 16px;
  line-height : 28px;
}